<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net">
    </section>
    <section name="pluginConfiguration" type="Pacom.PluginFramework.Runtime.PluginConfiguration, Pacom.PluginRuntime">
    </section>
    <section name="pacomClientApplication" type="Pacom.Client.Common.Configuration.PacomClientApplicationSection, Pacom.Client.Common">
    </section>
  </configSections>
  <system.diagnostics>
    <performanceCounters filemappingsize="524288">
    </performanceCounters>
  </system.diagnostics>
  <pacomClientApplication>
    <applicationServerList>
      <server address="localhost" port="54333">
      </server>
    </applicationServerList>
  </pacomClientApplication>
  <pluginConfiguration>
    <plugin name="TcpPlugin">
      <services>
        <service name="SiteManagerService" address="*" port="54444">
        </service>
      </services>
      <clients>
        <client name="SiteManagerService" address="localhost" port="54333" executionTimeoutInSec="15">
        </client>
      </clients>
    </plugin>
  </pluginConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5">
    </supportedRuntime>
  </startup>
</configuration>